<footer class="bg-light border-top mt-auto py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="f-info-socials"></div>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-square-linkedin"></i>
                <div class="f-info-brand">&copy;Wanderlust Private Limited</div>
            </div>
            <div class="col-md-6">
                <div class="f-info-links">
                    <a href="/privacy" class="nav-link">Privacy</a>
                    <a href="/terms" class="nav-link">Terms</a>
                </div>
            </div>
        </div>
    </div>
</footer>

